.SkillLevel .rect-border {
  stroke-width:2;
  stroke: theme-color("primary");
  fill: white;
}

.SkillLevel .rect-fill {
  fill: theme-color("primary");
}

@media (max-width: 575.98px) {
  .SkillLevel .small {
    font-size: 60%;
  }
}